@mixin animation-zoom-out($duration: 0.3s, $timing-function: linear) {
  @keyframes zoom-out {
    0% {
      transform: scale(0.2);
    }

    100% {
      transform: scale(1);
    }
  }

  animation: zoom-out $duration $timing-function forwards;
}

@mixin animation-move-up($duration: 0.3s, $timing-function: linear) {
  @keyframes move-up {
    0% {
      opacity: 0;
      transform: translateY(3rem);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  animation: move-up $duration $timing-function forwards;
}

@mixin animation-fade-in($duration: 0.3s, $timing-function: linear) {
  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  animation: fade-in $duration $timing-function forwards;
}

@mixin animation-bounce-delay($duration: 0.3s, $timing-function: linear) {
  @keyframes bounce-delay {
    0%,
    80%,
    100% {
      transform: scale(0);
    }

    40% {
      transform: scale(1);
    }
  }

  animation: bounce-delay $duration $timing-function forwards;
}

@mixin animation-move(
  $duration: 0.3s,
  $timing-function: linear,
  $x: 0,
  $y: 0,
  $z: 0
) {
  @keyframes move {
    to {
      transform: translate3d($x, $y, $z);
    }
  }

  animation: move $duration $timing-function forwards;
}

@mixin animation-rotate($duration: 0.3s, $timing-function: linear infinite) {
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  animation: rotate $duration $timing-function forwards;
}
