$breakpoints: (
  tablet: 600px,
  desktop: 1024px
);

@mixin breakpoint-max($breakpoint-name, $custom-width: null) {
  $breakpoint-value: null;

  @if $breakpoint-name == 'custom' and $custom-width {
    $breakpoint-value: $custom-width;
  } @else {
    $breakpoint-value: map-get($breakpoints, $breakpoint-name);
  }

  @media (max-width: $breakpoint-value) {
    @content;
  }
}

@mixin breakpoint-min($breakpoint-name, $custom-width: null) {
  $breakpoint-value: null;

  @if $breakpoint-name == 'custom' and $custom-width {
    $breakpoint-value: $custom-width;
  } @else {
    $breakpoint-value: map-get($breakpoints, $breakpoint-name);
  }

  @media (min-width: $breakpoint-value) {
    @content;
  }
}
