$color-black: #000;
$color-blue: #011fbb;
$color-blue-light: #e9f4fe;
$color-dark: #010509;
$color-disabled: #a1a4b0;
$color-focus: #007dfa99;
$color-gray: #7a7a7a;
$color-overlay: #000000b3;
$color-primary: #046a81;
$color-secondary: #041627;
$color-tertiary: #00728c;
$color-tertiary-hover: #05b5c5;
$color-white: #fff;
