@use 'src/theme' as T;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: T.$spacing-16;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.header {
  margin-bottom: T.$spacing-32;
  font-size: T.$font-size-32;
  font-weight: T.$font-weight-600;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: T.$spacing-32;
  height: fit-content;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.wrapper_images {
  display: flex;
  flex-wrap: wrap;
  gap: T.$spacing-32;
  width: 100%;
  justify-content: center;
  padding: 0 T.$spacing-8;

  img {
    position: relative !important;
  }

  @include T.breakpoint-min('tablet') {
    img {
      width: 155px !important;
      min-width: 155px !important;
      height: 155px !important;
    }

    svg {
      width: 174px;
      min-width: 174px;
      height: 155px;
    }
  }
}

.title {
  font-weight: T.$font-weight-500;
  text-align: center;
}
