@use 'src/theme' as T;

.button {
  display: flex;
  width: fit-content;
  height: fit-content;
  border-radius: T.$border-radius-4;
  justify-content: center;
  align-items: center;
  padding: T.$spacing-8 T.$spacing-20;
  background-color: T.$color-tertiary;
  cursor: pointer;
  color: T.$color-white;
  font-size: T.$font-size-14;
  font-weight: T.$font-weight-500;
  transition: background-color 0.15s ease-in-out;

  &:hover {
    background-color: T.$color-tertiary-hover;
  }
}
